//------------------------------------------------------------------
//-- Bus Pirate pin map for development hardware
//--
//------------------------------------------------------------------

# Clock source
set_io clk 20 # friendly name, fpga pin

# Bus Pirate buffer control pins
set_io bufdir_mosi 75 #74LVC1T45 DIR
set_io bufod_mosi 73 #74LVC1G07 A
set_io bufio_mosi 74 #74LVC1T45 A
set_io bufdir_clock 79
set_io bufod_clock 76
set_io bufio_clock 78
set_io bufdir_miso 82
set_io bufod_miso 80
set_io bufio_miso 81
set_io bufdir_cs 104
set_io bufod_cs 101
set_io bufio_cs 102
set_io bufdir_aux 107
set_io bufod_aux 105
set_io bufio_aux 106

# Peek-behind buffer/latch (74AC573)
set_io lat_oe 91 #latch output enable
set_io lat_mosi 93
set_io lat_clock 94
set_io lat_miso 95
set_io lat_cs 96
set_io lat_aux0 97
set_io lat_swv33 98
set_io lat_swv50 99

# Memory controller interface address and data
set_io mc_add[0] 3
set_io mc_add[1] 4
set_io mc_add[2] 7
set_io mc_add[3] 8
set_io mc_add[4] 9
set_io mc_add[5] 10

set_io mc_data[0] 24
set_io mc_data[1] 23
set_io mc_data[2] 1
set_io mc_data[3] 2
set_io mc_data[4] 15
set_io mc_data[5] 16
set_io mc_data[6] 17
set_io mc_data[7] 18
set_io mc_data[8] 19
set_io mc_data[9] 25
set_io mc_data[10] 26
set_io mc_data[11] 28
set_io mc_data[12] 29
set_io mc_data[13] 33
set_io mc_data[14] 32
set_io mc_data[15] 31

# Interrupt lines
set_io irq0 129
set_io irq1 128

# SRAM connectons (23LC1024/etc)
set_io sram_clock 141 #shared

set_io sram0_cs 144
set_io sram0_sio[0]
set_io sram0_sio[1]
set_io sram0_sio[2]
set_io sram0_sio[3]

set_io sram1_cs 130
set_io sram1_sio[0]
set_io sram1_sio[1]
set_io sram1_sio[2]
set_io sram1_sio[3]
